<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
	  <!-- appSettings for Self-Service Session Reset Tool Features  -->
	  <add key="sssrt:EnableLogoffSessions" value="True" />
	  <add key="sssrt:EnableDisconnectSessions" value="True" />
	  <add key="sssrt:EnableGetTerminateProcesses" value="True" />
	  <add key="sssrt:EnableGracefulMachineRestart" value="True" />
	  <add key="sssrt:EnableForcedMachineRestart" value="True" />
	  <add key="sssrt:EnableHideStuckSessions" value="True" />
	  <add key="sssrt:EnableInstructions" value="True" />
	  <add key="sssrt:BypassCriteriaChecksForHideSessions" value="False" />
	  <add key="sssrt:EnableUnhideSessions" value="False" />
	  <!-- The EnumerateSessionsFromAllSites is in development. Leave it set to false until this feature is officially released. -->
	  <add key="sssrt:EnumerateSessionsFromAllSites" value="False" />
	  <!-- appSettings for Self-Service Session Reset Tool Email Feature  -->
	  <add key="sssrt:EnableEmailForLogoffSessions" value="False" />
	  <add key="sssrt:EnableEmailForDisconnectSessions" value="False" />
	  <add key="sssrt:EnableEmailForTerminateProcesses" value="False" />
	  <add key="sssrt:EnableEmailForMachineRestart" value="False" />
	  <add key="sssrt:EnableEmailForHideSessions" value="False" />
	  <add key="sssrt:SenderName" value="Self-Service Session Reset Tool" />
	  <add key="sssrt:SenderEmailAddress" value="sssrt@mycompany.com" />
	  <add key="sssrt:RecipientEmailAddresses" value="example@mycompany.com" />
	  <add key="sssrt:SmtpServer" value="smtp.mycompany.com" />
	  <add key="sssrt:SmtpPort" value="25" />
	  <add key="sssrt:SmtpAuthUsername" value="" />
	  <add key="sssrt:SmtpAuthPassword" value="" />
	  <add key="sssrt:SubjectStartsWith" value="SSSR - " />
	  <add key="sssrt:BodyTextStartsWith" value="" />
	  <!-- appSettings for Serilog logging -->
	  <add key="serilog:minimum-level" value="Information" />
	  <add key="serilog:using:File" value="Serilog.Sinks.File" />
	  <add key="serilog:write-to:File.path" value="%BASEDIR%\log.txt" />
	  <add key="serilog:write-to:File.fileSizeLimitBytes" value="1234567" />
	  <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="12" />
	  <add key="serilog:write-to:File.rollingInterval" value="Month" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
